body{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    margin: 0;
}

.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 30px 240px;
    margin: 0px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    
}

.links{
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.links a{
    color: #e5e7eb;
    text-decoration: none;
}

.principal{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 30px 240px;
    margin: 0px;
    height: 300px;
    gap: 40px;
    
    
}

.info{
    height: 100%;
}

.info h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
    font-weight: 900;
}

.info p{
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px 20px 10px 0px;
    

}

.info button{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;

}

.image{
    background-color: gray;
    justify-content: center;
    display: flex;  
    align-items: center;
    height: 90%;
    width:800px;
}

.image p{
    text-align: center;
    font-size: 16px;
    color: #e5e7eb;
}


.randominfo{
    text-align: center;
    padding: 30px 500px;
    margin: 0px;
}

.randominfo h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 20px 20px 35px 20px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.randomimage{
    background-color: rgb(255, 255, 255);
    border:solid 4px #3882f6;
    border-radius: 15px;
    height: 170px;
    width: 100%;
    margin: 0px;
}
